{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge" style="color:brown">
        Home Office Digital Internships
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <img src="http://media.immediate.co.uk/volatile/sites/2/2015/02/chocolate-fudge-cake.jpg?quality=45&crop=3px,599px,2398px,1019px&resize=960,408:" alt="chocolate fudge cake" height="70%" width="90%" />
      <p>
        The programme offers 12 months placements to graduates in the following professions:
      </p>
      <ul class="list list-bullet">
        <li> User Research </li>
          <li> Interaction Design </li>
          <li> Content Design </li>
          <li> Service Design </li>
          <li> Software Development </li>
        </ul>

      <p>
        We recruit every April with the expectation that interns will start in September.
      </p>

      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="http://localhost:3000/confirmation-page">Click here to register your interest</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
